<div class="row" style="padding-top: 20%;">
	<div class="col"></div>
		<div class="col-md-7 text-center">
<h1 class="heading">Welcome to MyBlog </h1>
<p><%= link_to "MyBlog", articles_path, class: "btn btn-lg btn-welcome" %></p>
		</div><!-- col-md-7 -->
	<div class="col"></div>
</div><!-- row -->