<div class="row" style="padding-top: 7%;">
	<div class="col"></div>
		<div class="col-md-8 text-center">
			<div class="jumbotron">
			<h1 class="heading">Welcome to MyBlog </h1>
				<p>
					<%= link_to "MyBlog", articles_path, class: "btn btn-lg btn-welcome" %>				
				</p>
			</div>
		</div><!-- col-md-7 -->
	<div class="col"></div>
</div><!-- row -->