

@import "bootstrap";
@import "welcome";
@import "navigation";
@import "footer";

body {
	min-height: 42rem;
	padding-top: 4.5rem;
	background-color: #ffddee;
	overflow-x: hidden; 
}

.white {
	color: #ffffff;
}

.grey {
	color: #ddcccc;
}

.small-font {
	font-size: 11px;
}

.linktxt {
	color: #deddee;
}

.linktxt:hover {
	color: #ffffff;
}

.container {
	padding-top: 15px;
}

.heading {
	padding-bottom: 10px;
}

thead {
	background-color: #553344;
	color: #ffffff;
}

.form-control {
	background-color: #efeeef;
	border: 3px solid #f3b1c8;
}

.form-control2 select {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  padding-left: 0.3rem;
  line-height: 1.5;
  color: #777777;
  background-clip: padding-box;
  border-radius: 0.25rem;
  background-color: #efeeef;
  border: 3px solid #f3b1c8;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sm-style {
	font-size: 12px;
	margin-bottom: 3px;
}

.btn-light {
	border: 3px solid #f3b1c8;
}

.jumbotron {
	background-color: #ffffff;
}

.show_notice {
	margin: auto;
	width: 300px;
	color: #009900;
	font-size: 18px;
	padding: 15px;
	background-color: #ccddcc;
	text-align: center;
}

.show-alert {
	margin: auto;
	width: 300px;
	color: #ff0000;
	font-size: 18px;
	padding: 15px;
	background-color: #ddcccc;
	text-align: center;
}

@media (max-width: 576px) {
	.show_notice {
		width: 90%;
	}
}