

@import "bootstrap";
@import "welcome";
@import "navigation";

body {
	min-height: 75rem;
	padding-top: 4.5rem;
	background-color: #ffddee;
}

.container {
	padding-top: 15px;
}

.heading {
	padding-bottom: 10px;
}

thead {
	background-color: #553344;
	color: #ffffff;
}

.form-control {
	background-color: #efeeef;
	border: 3px solid #f3b1c8;
}

.btn-light {
	border: 3px solid #f3b1c8;
}

.jumbotron {
	background-color: #ffffff;
}